<div class="pb-8 px-4 mx-auto pb-lg-10 pt-lg-8">
    <MudText Typo="Typo.h1" Class="pb-5" Style="overflow-wrap: break-word;text-wrap: balance;">@Title</MudText>
    <MudText Typo="Typo.subtitle1">@((MarkupString)(Intro ?? ""))</MudText>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Intro { get; set; }
}