<div class="py-8 px-4 mx-auto py-lg-16">
    <MudText Typo="Typo.h1" class="pb-5">@Title</MudText>
    <MudText Typo="Typo.subtitle1">@((MarkupString)(Intro ?? ""))</MudText>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Intro { get; set; }
}